.catalogue-view {
  height: 60vh; 
  width: 100% -30px;
}

.catalogue-view h1 {
  text-align: center;
  margin-bottom: 16px;
}

.error {
  color: red;
  text-align: center;
  margin-top: 20px;
}

.grid-container {
  height: 100%; 
  width: 100%;
}